MONGO_URL=mongodb://mongo:27017
MONGO_DB=render_platform

API_URL=http://api:8000
GATEWAY_URL=http://gateway:8080
NODE_ID=example-render-node

VITE_API_URL=http://localhost:8000
VITE_GATEWAY_URL=http://localhost:8080

MONGO_PORT=27017
API_PORT=8000
GATEWAY_PORT=8080
FRONTEND_PORT=5173
